.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.q{
	padding: 5px;
	height: 210px;
	background-color: rgb(185, 185, 185);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.q h2{
	margin: 0;
	padding: 2px;
	border-radius: 5px;
	display: block;
	background-color: rgb(245, 245, 245);

}
.q ul{
	padding: 0;
	margin-top: 10px;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	list-style-type: none;
	width: 95%;
	user-select: none;
}
.q ul li{
	margin-top: 6px;
	width: 100%;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgb(148, 255, 127);
	padding: 1px;
	
}
.q ul li:active{
	background-color: aqua;
	transition: 0.2s;
}
.r p{
	background-color: azure;
	font-size: 23px;
}
.progress{
	margin-top: 10px;
	margin-bottom: 5px;
	height: 10px;
	width: 500px;
	background-color: rgb(255, 255, 109);
	border-radius: 5px;
	border: 1px solid black;
	position: relative;
	z-index: 2;
}
.progress_line{
	position: absolute;
	height: 10px;
	background: linear-gradient(135deg, #ff0000, #00ff00);
	border-radius: 5px;
}